<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.culture.demo.mapper.CartMapper">
	
	<!-- 장바구니 목록 가져오기 public void getCarts(String id,int branch_id, int lectDetailSq) -->
	<select id="getCarts" resultType="com.culture.demo.domain.CartDTO">
		SELECT
		b.member_sq, b.detail_class_sq
		, SUBSTR(dc.start_time,1,2)||':'||SUBSTR(dc.start_time,3,4) as start_time
		, SUBSTR(dc.end_time,1,2)||':'||SUBSTR(dc.end_time,3,4) as end_time
		, dc.class_cnt
		, TO_CHAR(cbs.open_year,'yyyy') AS open_year
        , TO_CHAR(TRUNC(cbs.schedule_start_dt),'yyyy.MM.dd') as schedule_start_dt
        , TO_CHAR(TRUNC(cbs.schedule_end_dt),'yyyy.MM.dd') as schedule_end_dt
        , cbs.class_fee, cbs.ex_charge
		, cbs.open_smst_id ,s.smst_nm
		, c.class_nm, c.class_id
		, cs.class_st_id, cs.class_st
		, bh.branch_id, bh.branch_nm
		, t.teacher_nm
		, CASE 
            WHEN MON = 'Y' THEN '월' 
            WHEN TUE = 'Y' THEN '화'
            WHEN WED = 'Y' THEN '수'
            WHEN THU = 'Y' THEN '목'
            WHEN FRI = 'Y' THEN '금'
            WHEN SAT = 'Y' THEN '토'
            WHEN SUN = 'Y' THEN '일'
         END as day
		FROM basket b 
		    LEFT JOIN detail_class dc ON b.detail_class_sq = dc.detail_class_sq
		    LEFT JOIN class_by_semester cbs ON dc.class_semester_sq = cbs.class_semester_sq
		    LEFT JOIN semester s ON cbs.open_smst_id = s.open_smst_id
		    LEFT JOIN class c ON c.class_id = cbs.class_id
		    LEFT JOIN class_state cs ON c.class_st_id = cs.class_st_id
		    LEFT JOIN branch bh ON bh.branch_id = c.branch_id
		    LEFT JOIN teacher t ON c.member_sq = t.member_sq
		WHERE b.member_sq = #{member_sq}
		
		<if test="detail_class_sq != null and !detail_class_sq.isEmpty()">
			AND b.detail_class_sq IN (${detail_class_sq})
		</if>
				
		<if test="branch_id != null and branch_id != 0">
			AND bh.branch_id = #{branch_id}
		</if>

		ORDER BY cbs.schedule_start_dt
	</select>
	
	<!-- 장바구니 추가 int insert(@Param("member_sq")int member_sq,@Param("detail_class_sq")int detail_class_sq)-->
	<insert id="insert">
	INSERT INTO basket (member_sq, detail_class_sq)
	VALUES(#{member_sq},#{detail_class_sq})
	</insert>
	
	<!-- 장바구니 삭제 int delete(@Param("member_sq")int member_sq,@Param("type")String type,@Param("cartSeqno")String cartSeqno) -->
	<delete id="delete">
	DELETE FROM basket
	WHERE member_sq=#{member_sq} 
    <if test="type != 'all'">
        AND detail_class_sq IN (${cartSeqno})
    </if>
	</delete>
	
	<!-- 장바구니 자동삭제 void autoDelete() -->
	<delete id="autoDelete">
	<![CDATA[
	DELETE FROM basket WHERE TRUNC( SYSDATE - reg_dt ) >= 30
	]]>
	</delete>
</mapper>