<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.culture.demo.mapper.FaqMapper">

	
	<select id="getSeacrchFaqList" resultType="com.culture.demo.domain.FaqDTO">
		<choose>
			<when test='faqDTO.clCd == 0'>
				SELECT *
				FROM (
					SELECT
							faq_sq,
							faq_tp_id,
							faq_title,
							faq_content,
							COUNT(DISTINCT faq_sq) OVER() AS tot_cnt,
							ROW_NUMBER() OVER(ORDER BY faq_sq ASC) AS rank
					FROM faq
			</when>
			<otherwise>
				SELECT *
				FROM (
					SELECT
						faq_sq,
						faq_tp_id,
						faq_title,
						faq_content,
						COUNT(DISTINCT faq_sq) OVER() AS tot_cnt,
						ROW_NUMBER() OVER(ORDER BY faq_sq ASC) AS rank
						FROM faq
						WHERE faq_tp_id = #{faq_tp_id}
			</otherwise>
		</choose>
			<if test='q != null and q != ""'>
				AND REGEXP_LIKE(faq_content, #{q}, 'i')				
			</if>
			    	
	    	<![CDATA[     
			)
		    WHERE ((10*(#{faqDTO.pageIndex}-1))+1) <= rank AND rank <= (#{faqDTO.pageIndex}*10)
		    ]]>		

	</select>
</mapper>