<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.culture.demo.mapper.TeacherMapper">
	
	<!-- TEACHER 테이블에 추가
	public int insertTeacher(TeacherDTO teacherDTO); -->
	<insert id="insertTeacher" parameterType="com.culture.demo.domain.BranchDTO">
		INSERT INTO TEACHER
			(MEMBER_SQ, BUSINESS_TP_ID, TAX_FREE_AV, PROFIL_IMG, TEACHER_NM, TEL, 
			BIRTH_DT, LUNAR_SOLAR, EMAIL, TEACHER_INTRO, ZIPCODE, ADDRESS, ADDR_DETAIL)
		VALUES
			(10, #{tcTpCd}, #{txfrBizprYn}, 10, #{tcNm}, CONCAT(#{hpStNo}, #{hpMidNo}, #{hpLastNo}) 
			#{bday}, #{lscCd}, #{EMAIL}, #{selfIntrdnCont}, #{pstno}, #{addr}, #{dtlAddr})
	</insert>
	
	<!-- AWARDS 테이블에 추가
	public int insertAwards(TeacherDTO teacherDTO); -->
	<insert id="insertAwards" parameterType="com.culture.demo.domain.BranchDTO">
		<selectKey order="BEFORE"  resultType="String"  keyProperty="seq">
		    SELECT NVL(MAX(TO_NUMBER(AWARDS_SQ))+1,1) 
		    FROM AWARDS
         </selectKey> 
		INSERT INTO AWARDS
			(AWARDS_SQ, MEMBER_SQ, PUBLISHER, AWARDS_HISTORY, AWARDS_DT)
		VALUES
			(#{AWARDS_SQ}, 10, #{issueAgncNm}, #{issueNm}, #{issueDt})
	</insert>
	
	<!-- CARRER 테이블에 추가
	public int insertCarrer(TeacherDTO teacherDTO); -->
	<insert id="insertCarrer" parameterType="com.culture.demo.domain.BranchDTO">
		<selectKey order="BEFORE"  resultType="String"  keyProperty="seq">
		    SELECT NVL(MAX(TO_NUMBER(CAREER_SQ))+1,1) 
		    FROM CAREER
         </selectKey>
		INSERT INTO CAREER
			(CAREER_SQ, MEMBER_SQ, PUBLISHER, START_DT, END_DT)
		VALUES
			(#{CAREER_SQ}, 10, #{histPlcNm}, #{histStDt}, #{histEndDt})
	</insert>
	
	<!-- CERTIFICATE 테이블에 추가
	public int insertCertificate(TeacherDTO teacherDTO);-->
	<insert id="insertCertificate" parameterType="com.culture.demo.domain.BranchDTO">
		<selectKey order="BEFORE"  resultType="String"  keyProperty="seq">
		    SELECT NVL(MAX(TO_NUMBER(CERTIFICATE_SQ))+1,1) 
		    FROM CERTIFICATE
         </selectKey>
		INSERT INTO CERTIFICATE
			(CERTIFICATE_SQ, MEMBER_SQ, PUBLISHER, CERTIFICATE_NM, ACQUISITION_DT)
		VALUES
			(#{CERTIFICATE_SQ}, 10, #{issueAgncNm}, #{issueNm}, #{issueDt})
	</insert>
	
	<!-- EDUCATION 테이블에 추가
	public int insertEducation(TeacherDTO teacherDTO); -->
	<insert id="insertEducation" parameterType="com.culture.demo.domain.BranchDTO">
		<selectKey order="BEFORE"  resultType="String"  keyProperty="seq">
		    SELECT NVL(MAX(TO_NUMBER(EDUCATION_SQ))+1,1) 
		    FROM EDUCATION
         </selectKey> 
		INSERT INTO EDUCATION
			(EDUCATION_SQ, MEMBER_SQ, UNIVERSITY_TP_ID, UNIVERSITY_NM, MAJOR, GRADUATE_STATE_ID, GRADUATE_YEAR)
		VALUES
			(#{EDUCATION_SQ}, 10, #{schlClCd}, #{schlNm}, #{mjrNm}, #{grdtClCd}, #{yy})
	</insert>
	
	<!-- APPLY_CLASS 테이블에 추가
	public int insertApply(TeacherDTO teacherDTO); -->
	<insert id="insertApply" parameterType="com.culture.demo.domain.BranchDTO">
		    <![CDATA[
        INSERT INTO APPLY_CLASS
            (MEMBER_SQ, CLASS_REQ_DT, CLASS_CONTENT, HOPE_ST_TIME, HOPE_EN_TIME, 
            MDCLSCTEGRYCD1, MDCLSCTEGRYCD2, HOPE_BRANCH_ID1, HOPE_BRANCH_ID2, 
            SUN_AV, MON_AV, TUE_AV, WED_AV, THU_AV, FRI_AV, SAT_AV)
        VALUES
            (10, SYSDATE, #{lectIntrdnCont}, #{hopeStHh}:#{hopeStMi}, #{hopeEndHh}:#{hopeEndMi}, 
            #{frstMdclsCtegryCd}, #{secMdclsCtegryCd}, #{frstHopeBrchCd}, #{secHopeBrchCd}, 
            <foreach item="day" index="index" collection="#{hopeDaywVal}" open="" separator="" close="">
                <choose>
                    <when test="#{day == '1'}">Y</when>
                    <otherwise>N</otherwise>
                </choose>
                <if test="#{index + 1 < hopeDaywVal.length()}">,</if>
            </foreach>)
    ]]>
	</insert>
	

</mapper>